In [1]:
import pandas as pd
import numpy as np

In [69]:
data = pd.read_excel("../Dataset/breast_preprocessed.xls",names=np.array(range(129)))

In [70]:
data.tail()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
47289,pheA,5.705,5.6142,5.6955,5.6227,5.6727,5.5995,5.633,5.6539,5.6511,...,5.6595,5.6292,5.6042,5.6266,5.6022,5.6709,5.6136,5.6038,5.6693,5.5818
47290,thrB,5.7077,5.7586,5.7279,5.6777,5.6761,5.7091,5.6777,5.68,5.6763,...,5.6918,5.6501,5.5772,5.6637,5.6556,5.6587,5.6987,5.6933,5.6775,5.68
47291,trpF,5.6684,5.6585,5.6337,5.6427,5.6371,5.6691,5.62,5.6199,5.6608,...,5.6392,5.6451,5.6149,5.551,5.605,5.6246,5.5404,5.6206,5.6552,5.6141
47292,y,luminal,luminal,luminal,luminal,luminal,non-luminal,non-luminal,luminal,luminal,...,luminal,luminal,luminal,non-luminal,non-luminal,luminal,luminal,luminal,non-luminal,luminal
47293,NaN,1,1,1,1,1,2,2,1,1,...,1,1,1,2,2,1,1,1,2,1

In [39]:
data=data.replace(0,np.NaN)
data = data.drop_duplicates()

In [71]:
data.iloc[0:len(data.index)-3,1:]
value_matrix = np.matrix(data.iloc[0:len(data.index)-3,1:],dtype=np.float16)

In [81]:
value_matrix

matrix([[5.848, 5.875, 5.8  , ..., 5.805, 5.984, 5.85 ],
        [6.707, 6.81 , 6.7  , ..., 7.094, 7.047, 6.918],
        [6.418, 6.695, 6.586, ..., 5.883, 6.03 , 6.06 ],
        ...,
        [5.68 , 5.72 , 5.758, ..., 5.766, 5.72 , 5.75 ],
        [5.703, 5.613, 5.695, ..., 5.605, 5.668, 5.582],
        [5.707, 5.758, 5.727, ..., 5.69 , 5.676, 5.68 ]], dtype=float16)

In [82]:
from re import findall
for i in range(len(data.index)):
    for j in range(len(data.columns)):
        temp = re.findall("([0-9]+\.[0-9]+\..*)",str(data.at[data.index[i],data.columns[j]]))
        if temp:
            print(i,j)
            break

In [90]:
# pip install xlwt required
data.to_excel(r'test.xls',header=False,index=False)